/* ESTILOS GERAIS */
body {
    background-color: #f0f2f5;
    font-family: sans-serif;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #333;
    width: 100%;
    margin-bottom: 40px;
}

/* Container que alinha os arranjos na página */
.todos-arranjos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

/* ESTILO BASE PARA O CONTAINER DE CADA ARRANJO */
.container-absoluto {
    position: relative;
    overflow: hidden;
}

/* Bloco genérico */
.bloco {
    position: absolute;
}


/* ====== ARRANJO 1 (Medidas em Pixels) ====== */
.arranjo-1 {
    width: 250px;
    height: 400px;
}

.arranjo-1 .c-verde {
    background-color: #008100;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 40px;
}

.arranjo-1 .c-azul {
    background-color: #0101fb;
    top: 40px;
    left: 0px;
    width: 63px;
    height: 60px;
}

.arranjo-1 .c-amarelo {
    background-color: #fefc00;
    top: 40px;
    left: 63px;
    width: 187px;
    height: 60px;
}

.arranjo-1 .c-verde-claro {
    background-color: #35cc99;
    top: 100px;
    left: 0px;
    width: 63px;
    height: 150px;
}

.arranjo-1 .c-vermelho {
    background-color: #fe0000;
    top: 100px;
    left: 63px;
    width: 187px;
    height: 75px;
}

.arranjo-1 .c-rosa {
    background-color: #ff67cb;
    top: 175px;
    left: 63px;
    width: 93px;
    height: 75px;
}

.arranjo-1 .c-ciano {
    background-color: #00ffff;
    top: 175px;
    left: 156px;
    width: 94px;
    height: 75px;
}

.arranjo-1 .c-roxo {
    background-color: #6c3f98;
    top: 250px;
    left: 0px;
    width: 250px;
    height: 150px;
}


/* ====== ARRANJO 2 (Medidas em Pixels) ====== */
.arranjo-2 {
    width: 220px;
    height: 380px;
}

.arranjo-2 .c-amarelo {
    background-color: #ffde00;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 380px;
}

.arranjo-2 .c-vermelho {
    background-color: #db2028;
    top: 0px;
    left: 50px;
    width: 60px;
    height: 380px;
}

.arranjo-2 .c-azul {
    background-color: #0000ff;
    top: 0px;
    left: 110px;
    width: 40px;
    height: 260px;
}

.arranjo-2 .c-verde {
    background-color: #40a74c;
    top: 260px;
    left: 110px;
    width: 40px;
    height: 120px;
}

.arranjo-2 .c-rosa {
    background-color: #f03aa2;
    top: 0px;
    left: 150px;
    width: 40px;
    height: 190px;
}

.arranjo-2 .c-ciano {
    background-color: #45c5d3;
    top: 190px;
    left: 150px;
    width: 40px;
    height: 190px;
}

.arranjo-2 .c-roxo-claro {
    background-color: #b7a4d5;
    top: 0px;
    left: 190px;
    width: 30px;
    height: 380px;
}


/* ====== ARRANJO 3 (Medidas em Pixels) ====== */
.arranjo-3 {
    width: 280px;
    height: 350px;
}

.arranjo-3 .c-roxo-escuro {
    background-color: #4d004c;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 90px;
}

.arranjo-3 .c-azul {
    background-color: #0000ff;
    top: 0px;
    left: 150px;
    width: 130px;
    height: 90px;
}

.arranjo-3 .c-vermelho {
    background-color: #ff0000;
    top: 90px;
    left: 0px;
    width: 280px;
    height: 100px;
}

.arranjo-3 .c-verde-claro {
    background-color: #9aff00;
    top: 190px;
    left: 0px;
    width: 70px;
    height: 160px;
}

.arranjo-3 .c-amarelo {
    background-color: #fdd500;
    top: 190px;
    left: 70px;
    width: 80px;
    height: 160px;
}

.arranjo-3 .c-laranja {
    background-color: #f88c00;
    top: 190px;
    left: 150px;
    width: 130px;
    height: 80px;
}

.arranjo-3 .c-magenta {
    background-color: #ff00ff;
    top: 270px;
    left: 150px;
    width: 65px;
    height: 80px;
}

.arranjo-3 .c-cinza {
    background-color: #bcbcbc;
    top: 270px;
    left: 215px;
    width: 65px;
    height: 80px;
}


/* ====== ARRANJO 4 (Medidas em Pixels) ====== */
.arranjo-4 {
    width: 240px;
    height: 420px;
}

.arranjo-4 .c-vermelho-claro {
    background-color: #e54c25;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 50px;
}

.arranjo-4 .c-laranja {
    background-color: #f16528;
    top: 50px;
    left: 0px;
    width: 240px;
    height: 50px;
}

.arranjo-4 .c-amarelo {
    background-color: #f7b733;
    top: 100px;
    left: 70px;
    width: 170px;
    height: 70px;
}

.arranjo-4 .c-marrom {
    background-color: #a0522d;
    top: 170px;
    left: 70px;
    width: 170px;
    height: 70px;
}

.arranjo-4 .c-verde-limao {
    background-color: #adff2f;
    top: 240px;
    left: 0px;
    width: 140px;
    height: 60px;
}

.arranjo-4 .c-roxo {
    background-color: #800080;
    top: 300px;
    left: 0px;
    width: 70px;
    height: 60px;
}

.arranjo-4 .c-cinza-escuro {
    background-color: #696969;
    top: 300px;
    left: 70px;
    width: 70px;
    height: 60px;
}

.arranjo-4 .c-ciano-claro {
    background-color: #b0e0e6;
    top: 360px;
    left: 0px;
    width: 140px;
    height: 60px;
}

.arranjo-4 .c-azul-claro {
    background-color: #87ceeb;
    top: 240px;
    left: 140px;
    width: 100px;
    height: 180px;
}